<div>
  <h1 class="font-bold text-4xl">Welcome to Projectivity</h1>
  <% if session[:user_id].blank? %>
    <p>Please sign in</p>
  <% end %>
  <p>Go to the Projects! <%= link_to 'Projects', projects_path %></p>
</div>
